#pane {
    -fx-background-image: url("images/menu_background.png");
    -fx-background-position: 0,0;
}
#exitButton {
    -fx-background-size: 100,50;
    -fx-background-color: transparent;
    -fx-background-image: url("images/exit_button.png");
    -fx-background-position: 0,0;
}
#play {
    -fx-background-size: 100,50;
    -fx-background-color: transparent;
    -fx-background-image: url("images/start_button.png");
    -fx-background-position: 0,0;
}
#cancel {
    -fx-background-size: 100,50;
    -fx-background-color: transparent;
    -fx-background-image: url("images/cancel_button.png");
    -fx-background-position: 0,0;
}